<phpunit
    bootstrap="vendor/autoload.php"
    colors="true">
    <testsuite name="Aphiria">
        <directory>src/Api/tests</directory>
        <directory>src/Collections/TestsTemp</directory>
        <directory>src/Configuration/tests</directory>
        <directory>src/Console/tests</directory>
        <directory>src/DependencyInjection/TestsTemp</directory>
        <directory>src/Exceptions/tests</directory>
        <directory>src/IO/TestsTemp</directory>
        <directory>src/Middleware/tests</directory>
        <directory>src/Net/tests</directory>
        <directory>src/RouteAnnotations/tests</directory>
        <directory>src/Router/tests</directory>
        <directory>src/Serialization/tests</directory>
        <exclude>src/RouteAnnotations/tests/ReflectionRouteAnnotationRegistrantTest.php</exclude>
    </testsuite>
     <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
