<phpunit
    bootstrap="vendor/autoload.php"
    colors="true">
    <testsuite name="Configuration">
        <directory>src/Tests</directory>
    </testsuite>
     <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
            <exclude>
                <directory suffix=".php">src/Tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
